<div class="d-flex justify-content-center mb-2 mt-2" >
  <div class="alert alert-primary" role="alert " style="width: 50%;">
    Por favor ingrese el juego a eliminar
  </div>
</div>


<div class="d-flex justify-content-center mb-2 mt-2">
  <div class="input-group" style="width: 50%;">
    <input type="search" class="form-control" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscarClick()">
      <i class="bi bi-search"></i>
    </button>
  </div>
</div>
